.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100vh;
}

header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px;
  flex: 0;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: chartreuse;
  justify-content: center;
}

footer {
  display: flex;
  flex: 0;
  align-items: center;
  justify-content: center;
  height: 32px;
  padding: 5px;
  background-color: black;
  color: #eee;
}
